.filterItems{
    margin-left:.5em
}
.filterItems > div{
    margin-bottom:2em;
}
.filterItems div:first-child{
    margin-top:.5em;
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
